# Backend
PORT=5000
BACKEND_URL=http://localhost:5000

# Frontend
FRONTEND_URL=http://localhost:5002

# AI service
AI_PORT=5001
AI_URL=http://localhost:5001
AI_DEBUG=false

# MongoDB
MONGO_URI="YOUR MONGO URI HERE"
MONGO_DB=ai_powered_ecommerce
MONGO_COLLECTION_PRODUCTS=products
MONGO_COLLECTION_CHATLOGS=chat_logs
MONGO_COLLECTION_CHATSESSIONS=chat_sessions

# Feature 1 files
FEATURE_1_MODEL_PATH=models/feature_1/fake_review_model.pkl
FEATURE_1_VECTORIZER_PATH=models/feature_1/fake_review_vectorizer.pkl
FEATURE_1_METRICS_PATH=evaluations/feature_1/training_metrics.json
FEATURE_1_DATASET_PATH=../datasets/fake reviews dataset.csv

# Feature 3 files
FEATURE_3_DATASET_PATH=../datasets/flipkart_com-ecommerce_sample.csv
FEATURE_3_IMPORT_SCRIPT_PATH=ai/scripts/feature_3/import_dataset.py
INTENT_JSON_PATH=intent.json
INR_TO_GBP_RATE=0.0081